.btn-aderir-homepage{
    margin: 0 auto;
    padding:25px 128px; 
    background-color:#d81b60;
    font-family:$copy-font;
    font-size:24px;
    color:white;
    font-weight:600;
    text-decoration:none;
    cursor:pointer;
}

.btn-small{
    background:#d81b60;
    color:white;
    font-family:$copy-font;
    font-weight:600;
    padding: 15px 40px;
    font-size: 18px;
    position:relative;
    top:50px;
    text-decoration:none;
}

.btn-aderir{
    width: 775px;
    height: 51px;  
    background: #D81B60;
    font-family:$copy-font;
    font-size: 18px;
    font-weight:600;
    color:white;
    border:none;
    margin:20px auto;
    cursor:pointer;
}




//iphone 5/5S
@media (max-width: 374px){
    .btn-aderir-homepage{
        font-size:18px;
        padding:20px 60px;
    }
}

/* Landscape phones and down */
@media (min-width:375px) and (max-width: 480px) {
    .btn-aderir-homepage{
        font-size:18px;
        padding:20px 60px;
    }
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
    .btn-aderir-homepage{
        font-size:18px;
        padding:18px 40px;
        margin-top:10px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
    .btn-aderir-homepage{
        font-size:20px;
        padding:20px 60px;  
    }
}

/* Large desktop */
@media (min-width: 1200px) {

}