
.slick-container{
  width:400px;
  height:400px;
  margin:50px auto;
  background:transparent;
  overflow-x:none
}

.card-each{
  
  clip-path: polygon(50% 7%, 59% 0, 100% 0, 100% 29%, 100% 100%, 0 100%, 0 0, 41% 0);
  position:relative;
  margin:20% 10px;
  background:whitesmoke;
  text-align:center;
  font-family:$copy-font;
  .title{
    font-size:40px;
    padding-top:20px;
    font-weight:600;
    color:#3f51b5;
  }
  .plafond-net{
    font-size:35px;
    margin-top:10px;
  }
  .plafond-net-info{
    font-size:20px;
    margin-top:10px;
  }
  .ofertas-tarifario{
    font-size:20px;
    margin-top:30px;
    font-weight:600;
    &:nth-of-type(3){
      margin-top:10px;
    }
  }
  .ofertas-tarifario-free{
    font-size:20px;
    margin-top:10px;
  }
  .tarifario-preco{
    margin-top:20px;
    position:relative;
    display:flex;
    justify-content:center;
    .tarifario-preco-valor{
      font-size:23px;
      font-weight:600;
    }
    .tarifario-modo-pagamento{
      font-size:15px;
      margin-top:5px;
    }
  }
  .info-tarifario{
    margin-top:10px;
    padding-bottom:15px;
    font-size:20px;
    text-decoration:underline;
    color:#d81b60;
    cursor:pointer;
  }
}


//iphone 5/5S
@media (max-width: 374px){

}

/* Landscape phones and down */
@media (min-width:375px) and (max-width: 480px) {
  
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
  .slick-container{
    display:none;
    overflow-x:none;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
  .slick-container{
    display:none;
    overflow-x:none;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  .slick-container{
    display:none;
    overflow-x:none;
  }
}


