


.slider-container{
margin-top:50px;
text-align:center;


[type=radio] {
    display: none;
  }
  
  #slider {
   // border:1px solid;
    height: 150px;
    position: relative;
    perspective: 6000px;
    transform-style: preserve-3d;
    
    .card {
        clip-path: polygon(50% 7%, 58% 0, 100% 0, 100% 29%, 100% 100%, 0 100%, 0 0, 42% 0);
        margin:auto;
        width: 250px;
        height: 314px;
        border-radius: 4px;
        position: absolute;
        left: 0; 
        right:0;
        cursor: pointer;
        transition: transform 0.4s ease;
           
           .info-container{
               border:1px solid;
               width:166px;
               height:144px;
               margin:25px auto;
            }
        }   
           
    }

}


/* Landscape phones and down */
@media (max-width: 374px) {
  .slider-container{
  //border:1px solid;
 // display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:374px;
  width:100%;
  
  #slider{
    .card{
      clip-path: polygon(50% 7%, 58% 0, 100% 0, 100% 29%, 100% 100%, 0 100%, 0 0, 42% 0);
      margin:30px auto;
      width: 150px;
      height: 214px;

      .info-container{
        border:1px solid;
        width:126px;
        height:114px;
        margin:25px auto;
     }
    }
  }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .slider-container{
    position:absolute;
    left:27%;
    #slider{
      .card{
        clip-path: polygon(50% 7%, 58% 0, 100% 0, 100% 29%, 100% 100%, 0 100%, 0 0, 42% 0);
        margin:30px auto;
        width: 150px;
        height: 214px;
  
        .info-container{
          border:1px solid;
          width:126px;
          height:114px;
          margin:25px auto;
       }
      }
    }
    }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px) {
    #slider{
        .card{
            clip-path: polygon(50% 10%, 53% 0, 100% 0, 100% 29%, 100% 100%, 0 100%, 0 0, 47% 0);
        }
    }
}

/* Large desktop */
@media (min-width: 1200px) {
#slider{

  .card{
      clip-path: polygon(50% 10%, 53% 0, 100% 0, 100% 29%, 100% 100%, 0 100%, 0 0, 47% 0);

  }
.title{
    font-size:20px;
}
}
}






  
  #s1:checked ~ #slide4, #s2:checked ~ #slide5,
  #s3:checked ~ #slide1, #s4:checked ~ #slide2,
  #s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-30%,0,-200px);
  }
  
  #s1:checked ~ #slide5, #s2:checked ~ #slide1,
  #s3:checked ~ #slide2, #s4:checked ~ #slide3,
  #s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
  }
  
  #s1:checked ~ #slide1, #s2:checked ~ #slide2,
  #s3:checked ~ #slide3, #s4:checked ~ #slide4,
  #s5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
  }
  
  #s1:checked ~ #slide2, #s2:checked ~ #slide3,
  #s3:checked ~ #slide4, #s4:checked ~ #slide5,
  #s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(15%,0,-100px);
  }
  
  #s1:checked ~ #slide3, #s2:checked ~ #slide4,
  #s3:checked ~ #slide5, #s4:checked ~ #slide1,
  #s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(30%,0,-200px);
  }
  
  #slide1 { background: #00BCD4 }
  #slide2 { background: #4CAF50 }
  #slide3 { background: #CDDC39 }
  #slide4 { background: #FFC107 }
  #slide5 { background: #FF5722 }