.card-container{
    background: white;
    //height:400px;
    margin:70px auto;
    border:1px solid white;
    max-width: 1024px;
    width:100%;
    padding:0 10px 10px 10px;
    
.card{
        //clip-path: polygon(50% 10%, 58% 0, 100% 0, 100% 29%, 100% 100%, 0 100%, 0 0, 42% 0);
        border:1px solid white;
        width:100%;
        height: 296px;
        background:silver;
        text-align:center;
        border-radius:10px;  
        // manter a margem de 35px minimo por causa do quadrado do notch
        margin:35px auto;
        //overflow:hidden;  
            .title{
                //border:1px solid black;
                width:119px;
                height:19px;
                margin:40px auto;
                font-size: 16px;
                font-weight: bold;
                line-height: 19px;
                color: white;
            }
            .circle{
            position:absolute;
            //border:1px solid black;
            width:50px;
            height:50px;
            margin-left:20px;
            border-radius:50px;
            background:greenyellow;
            }
            
        
        .square{
            //border:1px solid black;
            width:40px;
            height:40px;
            background: white; 
            transform:rotate(45deg);
            margin:-25px auto;
            z-index:2;
        } 
    }   
}

/* Landscape phones and down */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Large desktop */
@media (min-width: 1200px) {
.title{
    font-size:20px;
}
}
