.form-input{
    position:relative;
    top:180px;
    width: 280px;
    height: 51px;
    margin:20px auto;
    background:rgb(209, 209, 209);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border:none;
    font-family:$copy-font;
    font-size: 16px;
}