@include my-yorn-bg;



.form-container{
    position:relative;
    top:100px;
    height:500px;
    
}

.form-header{
    font-size:36px;
    font-weight:600;
}
.num-input{
    position:relative;
    top:50px;
    width:250px;
    height:50px;
}

.form-submit{
    position:relative;
    display:block;
    top:100px;
    width:250px;
    height:50px;
    margin:0 auto;
    background: linear-gradient(0deg, rgba(151, 151, 151, 0.4), 
    rgba(151, 151, 151, 0.4)), #FF5C8D;
    color:white;
    font-size:20px;
    
}