.card-section{
    //border:1px solid red;
    background: silver;
    .row{ 
       
       // border:1px solid blue;
        
        .col-sm-4{
            border:1px solid black;
            padding:15px;  
            background:linear-gradient(to left, blue,red);
            border-radius:10px;

            h3{
                color:white;
                text-transform:uppercase;
                text-align:center;
            }
            .info-consumo{
                display:flex;
                
                p{
                    color:white;  
                    padding-bottom:10px;
                    span{
                        margin-left:10px;
                    }
                }
            }

            .bar{
                width:100%;
               // height:30px;
                background:linear-gradient(to right,green, yellow,red);
                border-radius:10px;
                

                .progress{
                    //background:linear-gradient(to right,green, yellow,red);
                    background:linear-gradient(to right,silver,gray,black);
                    width:20%;
                   // height:30px;
                    border-radius:10px 0 0 10px;
                }
            }

        }
    }
}


//desktops and laptops
@media all and(min-width:768px){

    .card-section{
       // max-width: 2400px;
        width:100%;
        position:relative;
        margin: 0 auto; 
        text-align:center;   
        
    .row{
       // margin:50px;
        display:inline-block;
        .col-sm-4{
            margin:20px;
        
            h3{
                font-size:50px;
            }

            .info-consumo{
                margin:20px 10px 25px 10px;
                p{
                    font-size:40px; 
                }
            }
            .bar{
                height:30px;
                .progress{
                    height:30px;
                }
            }
           
        }
    }
}
}

//tablets and smartphones
@media all and(max-width:767px){

    .row{
        display:block;
        .col-sm-4{
           margin:10px;
            h3{
                font-size:30px;
            }

            .info-consumo{
                margin:5px;
                p{
                    font-size:20px; 
                }
            }
            .bar{
                height:15px;
                .progress{
                    height:15px;
                }
            }
        }
    }


}



//next part is just for testing and should not be used in website
body{
    padding:50px;
    text-align:center;
    input-container{
        border:solid;
        width:200px;
        height:200px;
        text-align:center;
    
        .input{
            width:100px;
            height:30px;
    
        }
    }
}


