
$primary-font: 'DM Sans', sans-serif;
body{
    
    width:100%;
    


.hero-image{
    height:100%;
    background-image:url("../images/red-ink-background.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
    text-align:center;
}

.hero-text{
    text-align:center;
    padding-top:5%;
.paralelo{
    position:relative;
    clip-path: polygon(29% 0, 0 0, 41% 51%, 0 100%, 29% 100%, 51% 51%, 70% 100%, 100% 100%, 61% 51%, 100% 0, 70% 0, 51% 51%);
    background-image:url("../images/yorn-wall.jpg");
    max-width:1750px;
    width:100%;
    height:1150px;
    
    margin: 0 auto;
    transform:translateY(30%);
    animation-name:float;
    animation: float 1s ease-in-out infinite alternate;
    @keyframes float{
        0%{
            transform:translateY(10px);
        }
        100%{
            transform:translateY(0px);
        }
    }
    box-shadow: 15px 20px 10px 20px #888888;
    border:2px solid gray;

    }
   
}


.nav-container{
    text-align:center;

.nav{
    width:100%;
    height:50px;
    background:transparent;
    display:flex;
    justify-content:center;
    align-items:center;
    position:fixed;
    z-index:2;
    }
    ul{
        display:flex;
        //border:solid red;
        color:white;
       
        li{
            //border:solid blue;
            text-transform:uppercase;
            font-family:$primary-font;
            font-size:2.5em;
            font-weight: bold;
            margin:100px 20% 0 20%;
            animation: glow 1.5s ease-in-out infinite alternate;
            @keyframes glow {
                from {
                  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
                }
                to {
                  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
                }
              } 
              
              
            &:hover{
                color:blueviolet;
                transition:0.5s ease-in-out;
               
            }
        }
    }

    div{
        border:solid;
        float:right;
        
    }
}






.content-container{
    //max-width:3200px;
    width:100%;
    max-height:500px;
    height:100%;
    padding-bottom:80px;
    text-align:center;
    background-image:url("../images/hboshows.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
   
    .overlay {
        content:'';
        //max-width:3200px;
        width:100%;
        height:500px;
        background-color:rgba(0,0,0,0.5);
        display:block;
        position:relative;
        left:0;
        top:0;
        z-index:1;
    }


    .text{
        font-size:55px;
        padding-top:100px;
        color:white;
        font-family:'pridi';
    }

    .sub-text{
        display:flex;
        text-align:center;
        padding-left:35%;
        p{
            //border:solid;
            padding-top:100px;
            padding-right:100px;
            font-size:34px;
            color:red;
            font-family:'pridi';
        } 
    }
}

}

@media all and(max-width:952px){
    .paralelo{
    width:60%;
    height:350px;
    }

    .nav{
        position:relative;
        li{
            margin:5%;
        }
    }

}